body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    position: relative;
}
.center {
    margin: auto;
    border: 3px solid black;   
    border-radius: 20px;
    width: 60%;
    padding: 10px;
  }

.container {
    text-align: center;
}

.image-container {
    margin-top: 20px;
}

.image-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

.social-media {
    margin-bottom: 20px;
}

.social-media img {
    width: 30px;
    margin: 0 10px;
}

.clock {
    border: 2px solid black;
    border-radius: 20px;
}

.left-box {
    position: relative;
    top: 30%;
    left: 70%;
    transform: translateY(-50%);
    width: 150px;
    height: 40px;
    padding: 10px;
    text-align: center;
}

.left-box span {
    display: block;
    font-size: 14px;
    font-weight: bold;
}
